<!DOCTYPE html>
<html lang="en" class="dark">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate | Your Organization</title>
    <link rel="icon" type="image/x-icon"
      href="https://raw.githubusercontent.com/ACES-RMDSSOE/Website/main/images/favicon.ico" />
    <script src="https://cdn.tailwindcss.com" rel="preload"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="template.css" />
    <link rel="stylesheet" href="admin.css" />
  </head>

  <body
    class="flex flex-col justify-center dark:text-[#ceced2] items-center min-h-svh xl:text-[28px] lg:text-[26px] md:text-[22px] text-[18px] bg-[#eee] dark:bg-[#272727] relative">
    <main class="md:w-2/3 w-full p-2 relative">
      <h1 class="pt-4 pb-2 text-4xl font-bold lg:text-5xl 2xl:text-6xl">Admin Dashboard</h1>
      <section class="m-2 p-2 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-6 gap-6 justify-evenly">
        <article class="border dark:border-[#444] border-[#bbb] p-6 rounded shadow">
          <header class="flex justify-between items-center cardlink px-5 text-xl">
            <h2 class="small-caps">Membership</h2>
            <aside class="flex w-full justify-end gap-x-4 my-2">
              <p class="text-[.75em] px-3 py-1.5 border border-gray-500 bg-blue-400/60 drop-shadow rounded-xl">
                <%= totalMembershipUsers %> </span>
              </p>
              <p class="text-[.75em] px-3 py-1.5 border border-gray-500 bg-green-400/60 drop-shadow rounded-xl">
                <%= membersWithCertificates %> </p>
            </aside>
          </header>
          <ul class="cardlink p-6 mt-6 mb-2"><!--noformat-->
            <h3 class="mb-4">Recent Certificates</h3>
            <% recentMembershipGetters.forEach(user => { %>
              <li class="flex flex-col items-start border-b border-gray-500 p-3 w-fit relative">
                <span class="flex items-center text-base gap-x-3"><i class="fa-regular fa-user w-4 aspect-square"></i> <%= user.Name %> </span> 
                <span class="flex items-center text-base gap-x-3"><i class="fa-regular fa-clock w-4 aspect-square"></i> <%= user.LastAccessed ? user.LastAccessed.toLocaleString() : 'N/A' %> </span>
              </li>
            <% }); %>
      <!--noformat--> </ul>
        </article>
        <article class="border dark:border-[#444] border-[#bbb]">
          <header class="cardlink">
            <h2 class="small-caps">GitHub 101</h2>
            <aside class="">
              <p class="text-[.75em] px-3 py-1.5 border border-gray-500 bg-blue-400/60 drop-shadow rounded-xl">
                <%= totalGitHubUsers %> </span>
              </p>
              <p class="text-[.75em] px-3 py-1.5 border border-gray-500 bg-green-400/60 drop-shadow rounded-xl">
                <%= githubUsersWithCertificates %> </p>
            </aside>
          </header>
          <ul class="cardlink">
            <h3 class="mb-4">Recent Certificates</h3> <% recentGitHubGetters.forEach(user => { %> <li>
              <span class="flex items-center text-base gap-x-3"><i class="fa-regular fa-user w-4 aspect-square"></i>
                <%= user.Name %> </span>
              <span class="flex items-center text-base gap-x-3"><i class="fa-regular fa-clock w-4 aspect-square"></i>
                <%= user.LastAccessed ? user.LastAccessed.toLocaleString() : 'N/A' %> </span>
            </li> <% }); %>
          </ul>
          <div class="pagination"> <% if (currentPageGitHub > 1) { %> <a
              href="/admin?pageGitHub=<%= currentPageGitHub - 1 %>&limit=<%= limit %>">Previous</a> <% } %>
            <% for (let i = 1; i <= totalPagesGitHub; i++) { %> <% if (i === currentPageGitHub) { %>
            <strong><%= i %></strong> <% } else { %> <a
              href="/admin?pageGitHub=<%= i %>&limit=<%= limit %>"><%= i %></a> <% } %> <% } %>
            <% if (currentPageGitHub < totalPagesGitHub) { %> <a
              href="/admin?pageGitHub=<%= currentPageGitHub + 1 %>&limit=<%= limit %>">Next</a> <% } %> </div>
        </article>
      </section>
    </main>
    <footer class="flex flex-row gap-x-4 items-center justify-center mt-auto pt-8 pb-2">
      <button id="theme-toggle" class="aspect-square inline-block w-5 md:w-6 pt-px">
        <svg class="dark:hidden" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-black"
            d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
          <path class="fill-black" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
        </svg>
        <svg class="hidden dark:block" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-white"
            d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
          <path class="fill-white"
            d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
        </svg>
      </button>
      <p class="dark:text-white text-black"> &copy; 2024 Your Organization. All rights reserved. </p>
    </footer>
  </body>
  <script src="util.js"></script>

</html>